# Dipendenze
node_modules

# Build Next.js
.next

# File di Docker
Dockerfile
.dockerignore



# Log e file di sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Git
.git
.gitignore

# Python (se presente nella stessa cartella)
/python-services
*.py
Procfile
requirements.txt
start.sh
venv/ 